os                                                               
pickle                                                           
numpy                                                      
cv2                                                              
face_recognition                                                 
cvzone                                                           
firebase_admin 
streamlit
